
.icon-cog:before { content: '\e800'; } /* '' */
.icon-cog-1:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-code:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
