section {
  align-items: center;
  justify-content: center;
}
section:nth-of-type(1) {
  background-color: rgb(49, 36, 80);
  position: fixed;
}
section:nth-of-type(1) ul > li {
  padding: 5% 0;
  color: white;
}
section:nth-of-type(1) ul > li > a {
  text-transform: uppercase;
}
section:nth-of-type(2) {
  height: 100vh;
  background-color: rgb(94, 66, 166);
  background-image: url(../img/intro\ \(2\).svg);
  background-size: cover;
  flex-direction: column;
}
section:nth-of-type(2) > div {
  flex-direction: column;
}
section:nth-of-type(2) > div > div {
  flex-direction: column;
}
section:nth-of-type(2) > div > div h1 {
  margin-bottom: 5%;
  font-size: 38px;
}
section:nth-of-type(3) {
  background-color: rgb(80, 82, 181);
}
section:nth-of-type(3) > div > div {
  align-items: center;
}
section:nth-of-type(3) > div > div:nth-of-type(1) {
  background-color: rgb(88, 89, 196);
}
section:nth-of-type(3) > div > div:nth-of-type(2) {
  background-color: rgb(80, 82, 181);
}
section:nth-of-type(3) > div > div:nth-of-type(3) {
  background-color: rgb(68, 69, 153);
}
section:nth-of-type(3) > div > div > div {
  width: 50%;
  margin-left: 5%;
  flex-direction: column;
}
section:nth-of-type(3) > div > div img {
  width: 100%;
}
section:nth-of-type(4) {
  width: 100%;
  background-color: rgb(183, 78, 145);
  align-items: center;
}
section:nth-of-type(4) > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
section:nth-of-type(4) > div > div:nth-of-type(1) {
  width: 80%;
  margin: 5% 0;
  flex-direction: column;
}
section:nth-of-type(4) > div > div:nth-of-type(2) {
  justify-content: center;
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
}
section:nth-of-type(4) > div > div:nth-of-type(2) > div {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.142);
  border: 1px solid rgba(255, 255, 255, 0.119);
  padding: 5%;
}
section:nth-of-type(4) > div > div:nth-of-type(2) > div > div:nth-of-type(1) {
  background-color: white;
  border-radius: 50%;
  padding: 4%;
  margin-bottom: 3%;
}
section:nth-of-type(4) > div > div:nth-of-type(2) > div > div:nth-of-type(1) > span {
  color: rgb(183, 78, 145);
  font-size: 24px;
}
section:nth-of-type(4) > div > a {
  margin-bottom: 5%;
}

.btn {
  margin-top: 5%;
  padding: 3% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(166, 166, 166, 0.812);
  border-radius: 50px;
  transition: 0.4s;
}
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.812);
  background-color: rgba(255, 255, 255, 0.221);
}

footer {
  background-color: rgb(94, 66, 166);
  align-items: center;
  justify-content: right;
}
footer > div {
  align-items: baseline;
  padding: 3%;
  width: 80%;
  justify-content: center;
}
footer > div > div {
  margin: 3% 0;
  flex-direction: column;
}
footer > div > div:nth-of-type(2) > div address,
footer > div > div:nth-of-type(2) > div span {
  color: rgb(209, 209, 209);
}
footer > div > div:nth-of-type(2) > div address > a,
footer > div > div:nth-of-type(2) > div span > a {
  font-size: 22px;
  transition: 0.4s;
}
footer > div > div:nth-of-type(2) > div address > a:hover,
footer > div > div:nth-of-type(2) > div span > a:hover {
  color: white;
}
footer > div > div > div {
  flex-direction: column;
  line-height: 1.5;
}
footer > div > div > div > div > div:nth-of-type(1), footer > div > div > div > div > div:nth-of-type(2) {
  flex-direction: column;
}
footer > div > div > div > div > div:nth-of-type(1) input, footer > div > div > div > div > div:nth-of-type(2) input {
  height: 40px;
}
footer > div > div > div > div > div:nth-of-type(2) {
  margin-left: 3%;
}
footer > div > div > div > div:nth-of-type(2) {
  flex-direction: column;
}
footer > div > div > div > div:nth-of-type(2) input {
  width: 60%;
  height: 200px;
}

@media screen and (max-width: 768px) {
  section:nth-of-type(1) {
    display: none;
  }
  section:nth-of-type(2) {
    width: 100%;
  }
  section:nth-of-type(3) > div div {
    width: 100%;
    flex-direction: column;
  }
  section:nth-of-type(3) > div div figure {
    width: 100%;
  }
  section:nth-of-type(3) > div div div {
    width: 90%;
    padding: 5%;
  }
  section:nth-of-type(4) {
    width: 100%;
    justify-content: center;
  }
  section:nth-of-type(4) > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) {
    width: 80%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) > div {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  footer > div {
    flex-direction: column;
  }
  footer div div span,
footer div div address,
footer div div h3 {
    line-height: 1;
  }
}
@media screen and (min-width: 769px) {
  section:nth-of-type(1) {
    width: 100%;
    z-index: 999;
    height: 70px;
    position: fixed;
  }
  section:nth-of-type(1) ul {
    width: 70%;
    justify-content: space-around;
  }
  section:nth-of-type(3) > div > div {
    flex-direction: row;
  }
  section:nth-of-type(3) > div > div figure {
    width: auto;
  }
  section:nth-of-type(3) > div > div > div {
    width: 35%;
  }
  section:nth-of-type(4) {
    justify-content: center;
  }
  section:nth-of-type(4) > div {
    width: 90%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(1) {
    width: 80%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) {
    width: 80%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) > div {
    width: 50%;
  }
  footer > div {
    width: 100%;
  }
  footer > div > div:nth-of-type(1) {
    width: 60%;
  }
  footer > div > div:nth-of-type(2) {
    width: 30%;
  }
  footer > div > div:nth-of-type(2) > div {
    line-height: 3.5;
  }
  footer > div > div:nth-of-type(2) > div address,
footer > div > div:nth-of-type(2) > div span {
    line-height: 2;
  }
  footer > div > div > div {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  section:nth-of-type(1) {
    width: 20%;
    height: 100vh;
  }
  section:nth-of-type(1) > ul {
    width: 75%;
    height: 70%;
    flex-direction: column;
  }
  section:nth-of-type(1) > ul > li {
    justify-content: flex-end;
    transition: 2s;
    border-bottom: 3px solid white;
    -o-border-image: linear-gradient(to right, rgb(183, 78, 145), rgb(94, 66, 166));
       border-image: linear-gradient(to right, rgb(183, 78, 145), rgb(94, 66, 166));
    border-image-slice: 4;
  }
  section:nth-of-type(2) {
    background-attachment: fixed;
  }
  section:nth-of-type(3) > div > div {
    justify-content: right;
  }
  section:nth-of-type(3) > div > div > div {
    width: 50%;
  }
  section:nth-of-type(4) {
    justify-content: flex-end;
  }
  section:nth-of-type(4) > div {
    width: 80%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(1) {
    width: 80%;
    margin: 5% 0;
    flex-direction: column;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) {
    width: 80%;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) div div:nth-of-type(1) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section:nth-of-type(4) > div > div:nth-of-type(2) div div:nth-of-type(2) {
    width: 70%;
    margin-left: 7%;
  }
  footer > div {
    width: 80%;
  }
  footer > div > div > div {
    line-height: 1.5;
  }
}/*# sourceMappingURL=master.css.map */